<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="uri" value="amqp://qhkfcrah:V3N4aNxrUBRGG8Lw5ucbcz_Rcs1J97gp@spotted-monkey.rmq.cloudamqp.com/qhkfcrah"/>
    <add key="exchange" value="SuperChat5000"/>
  </appSettings>
</configuration>